
/* text formatting */
/* *{
    border:1px solid black;;
} */
h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3vw;
}
h2{
    font-family: 'Inter', sans-serif;
    font-size: 2.7vw;
    font-weight: 400;
    margin: 0 0 0;
}   
h3{
    display: inline;
    border: 1px solid black;
    padding: 3px 8px;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
hr{
    margin: 0% 0% 3%;
}
p{
    font-family:'Inter',sans-serif;
    width:94%;
    margin-left: 3%;
}
::selection {
    background: #23D632;
}
::-moz-selection {
    background: #23D632;
}
.code{
    background-color: #cecdcd;
    padding: 1px 4px 0px;
    border-radius: 3px;
    font-family: 'IBM Plex Mono',mono space;
    font-size: small;
}
.icon{
    width:20px;
    vertical-align: middle;
}

/* header format */
.header{
    display: block;
    height:50px;
    margin: 2% 0;
}
.siteTitle{
    display: inline;
    background-color: #000000;
    padding: 3px 8px;
    border-radius: 50px;
    color:#fff;
}
/* navigation */


/* table of contents */
.tableOfContents{
    position: absolute;
    top:30%;
    border: 1px solid green;
}

.content{
    width:60%;
    margin: 10px auto; 
    padding:5px;
}