
/* text formatting */
/* *{
    border:1px solid black;;
} */
h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3.2vw;
}
h2{
    font-family: 'Inter', sans-serif;
    font-size: 2.2vw;
    font-weight: 500;
}   
h3{
    display: inline;
    border: 1px solid black;
    padding: 3px 8px;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
hr{
    margin: 0% 0% 3%;
}
p{
    font-family:'Inter',sans-serif;
    width:94%;
    margin-left: 3%;
}
ul{
    font-family: 'Inter', sans-serif;
    font-weight: 400;   
}
a {
    color: #6b47be;
}

a:visited {
    color: #5923d6
}
::selection {
    background: #23D632;
}
::-moz-selection {
    background: #23D632;
}
.code{
    background-color: #cecdcd;
    padding: 1px 4px 0px;
    border-radius: 3px;
    font-family: 'IBM Plex Mono',mono space;
    font-size: small;
}
.icon{
    width:20px;
    vertical-align: middle;
}

/* header format */
.header{
    display: flex;
    height:50px;
    align-items: center;
}
.siteTitle{
    display: flex;
    background-color: #000000;
    padding: 3px 8px;
    border-radius: 50px;
    color:#fff;
    width: fit-content;
}
/* navigation */
.nav {
    margin-left: auto;
}   

.dropdown {
    display: none;
    clear: both;
    position: absolute;
    top: 5%;
    z-index: 1;
}

.nav a {
    float: right;
    color: black;
    display: block;
    border: 1px solid black;
    padding: 3px 8px;
    margin: 5% 0;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: right;
    width: fit-content;
}

.nav a:hover {
    color: white;
    background-color: #000000;
}

.dropdownActive a {
    background-color: #000000;
    color: #fff;
}
 
.nav:hover .dropdown {
    display: block;
}

/* table of contents */
.tableOfContents{
    position: absolute;
    top:30%;
    border: 1px solid green;
}

.content{
    width:60%;
    margin: 10px auto; 
    padding:5px;
}